.ads-content{
    width: 410px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #888888;
    background-color: #F0F0F0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}