*{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #008CF0;
}

a:hover{
    color: #F36223;
}
a:active{
    color: #A93A09;
}

.strong-text{
    font-weight: bold;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/*Шапка*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo__text {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}
.logo__text_first {
    color: #FF5722;
}

.basket {
    cursor: pointer;
    margin-right: 30px;
}

.basket__icon {
    position: absolute;
    font-size: 30px;
    color: #001a34;
}
.basket__number {
    position: relative;
    bottom: 5px;
    left: 25px;
    background-color: #FF5722;
    padding: 3px 7px;
    border-radius: 500px;
    color: #FFFFFF;
    font-weight: 900;
}

.basket__number:hover{
    background-color: #DA4A0C;
}
/*Хлебные крошки*/
.bread-crumbs {
    display: flex;
    font-weight: 400;
    gap: 4px;
    margin-top: 27px;
   margin-bottom: 8px;
}
/*Заголовок и галерея*/
.page-header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.page-header__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.page-header__gallery {
    display: flex;
    gap: 10px;
}
/*Основной контент*/
.page-body {
    display: flex;
    gap: 100px;
    margin-top: 30px;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/*Варианты цветов*/
.chapter {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.chapter-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.chapter__items-container {
    display: flex;
    gap: 10px;
}
.colors__btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: transparent;
}

.colors__btn:hover{
    background-color: #F2F2F2;

}
.colors__btn:active{
    border: 2px solid #A93A09;
    background-color: transparent;
}
.colors__btn_select{
    border: 2px solid #F36223;
    background-color: transparent;
}


.colors_img {
    height: 60px;
}
/*Варианты памяти*/
.memory-version-btn{
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #888888;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
}

.memory-version-btn:hover{
    background-color: #F2F2F2;
}

.memory-version-btn:active{
    border: 2px solid #A93A09;
    background-color: transparent;
}

.memory-version-btn_select{
    border: 2px solid #F36223;
    background-color: transparent;
}
/*Характеристики*/
.characteristics-list{
    margin-left: 13px;
    list-style-image: url(../img/marker-li.png);
}

.characteristics-list__items{
    margin-bottom: 10px;
}
/*Описание*/
.description__item{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.description__item_italic{
    font-style: italic;
}

/*Таблица*/
.options-table{
    text-align: center;
    vertical-align: center;
}

.options-table__general{
    padding: 5px;
    border: 1px solid #888888;
}

.options-table_header{
    font-weight: bold;
}

.options-table_row-hover:hover{
    background-color: #F2F2F2;
}

/*Отзывы*/
.margin-top-60px{
    margin-top: 60px;
    
}
.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.reviews-header__title {
    display: flex;
    gap: 10px;
}

.chapter-title_font-size-l {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.chapter-title_font-size-l_text-color{
    color: #888888;
}

.reviews-item {
    display: flex;
    gap: 30px;
}
.reviews-item__photo img {
    border-radius: 500px;
}

.reviews-item__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.reviews-item__stars {
    margin-top: 10px;
    margin-bottom: 20px;
}
.reviews-item__text-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
}

.reviews__hr{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
	border: none;
	border-bottom: 1px dashed #000000;
}
/*Форма для отзывов*/
.form-section{
    margin-left: 170px;
}
.reviews-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}
.reviews-form__fieldset {
    display: flex;
    justify-content: space-between;
}

.input_style{
    padding: 8px 10px;
    border: 1px solid #888888;
}

.input_style_outline:focus-visible{
    outline: 1px solid #FF5722;
    border: none;
}

.input__name {
    width: 80%;
}

.input__greate {
    width: 15%;
}

.form__textarea {
    width: 100%;
    resize: none;
    height: 250px;
}

.form__submit {
    cursor: pointer;
    width: 25%;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #F36223;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.form__submit:hover{
    background-color: #DA4A0C;
}

/*Сайтбар*/
.asid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.asid__main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
/*Цена*/
}
.price-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-tag{
    display: flex;
    align-items: center;
    gap: 10px;
}
.price-tag__old {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}
.price-tag__discound {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #F36223;
    border-radius: 500px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.fa-heart{
    cursor: pointer;
    font-size: 34px;
    color: #888888;
}
.fa-heart:hover{
    color: #F36223;
}
.fa-heart:active{
    color: #A93A09;
}
.price-block_actual {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}
/*Доставка*/
.delivery {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-cart-btn{
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    background-color: #F36223;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.add-cart-btn::before{
    content: url('../img/cart-icon.svg');
    margin-right: 16px;
}
.add-cart-btn:hover{
    background-color: #DA4A0C;
}
.add-cart-btn:active{
    background-color: #A93A09;
}
/*Реклама*/
.asid__ads {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 420px;
    height: 642px;
}

.ads__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.ads__iframe {
    width: 100%;
    height: 100%;
}
/*Футер*/
.footer{
    width: 100%;
    background-color: #F2F2F2;
    padding: 30px 0;
    margin-top: 60px;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*@media*/
@media (max-width:1024px){
    .container{
        margin: 0 1%;
    }
    .gallery__items{
        height: 272px;
    }
    .page-body{
        gap: 40px;
    }
    .table-section{
        display: none;
    }

    .reviews-item__photo{
        width: 100px;
    }
    .reviews-item__stars img{
        width: 20px;
    }
    .reviews-item{
        gap: 50px;
    }
    .form-section{
        margin-left: -1%;
        
    }
}




































































